<template id="ttic-page">
  <header class="sticky top-0 z-40 flex-none w-full bg-white border-b border-gray-200 dark:border-gray-600 dark:bg-gray-800">
    <slot name="top-menu">
      <ttic-top-menu></ttic-top-menu>
    </slot>
  </header>
  <div class="w-full px-4 mx-auto max-w-8xl">
    <div class="lg:flex">
      <slot name="left-menu">
        <ttic-left-menu></ttic-left-menu>
      </slot>
      <main id="content-wrapper" class="flex-auto w-full min-w-0 lg:static lg:max-h-full lg:overflow-visible">
        <div class="flex w-full">
          <div class="flex-auto max-w-4xl min-w-0 pt-6 lg:px-8 lg:pt-8 pb:12 xl:pb-24 lg:pb-16">
            <div class="pb-4 mb-8 border-b border-gray-200 dark:border-gray-800">
              <slot name="body">
                <ttic-body></ttic-body>
              </slot>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <slot name="footer">
    <ttic-footer></ttic-footer>
  </slot>
</template>

<template id="ttic-top-menu">
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-2 p-2">
      <button data-collapse-toggle="sidebar" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open side menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>

      <slot name="menu-logo">
        <ttic-logo-icon-name></ttic-logo-icon-name>
      </slot>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <slot name="menu-item">
            <ttic-menu-item></ttic-menu-item>
          </slot>
        </ul>
      </div>
    </div>
  </nav>
</template>

<template id="ttic-logo-icon-name">
  <a href="ttic:href" class="flex items-center" role="menuitem">
    <img src="ttic:img" class="h-6 mr-0 sm:mr-auto sm:h-8" alt="ttic:img_alt" />
    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">ttic:name</span>
  </a>
</template>

<template id="ttic-menu-item">
  <li>
    <span class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
      <a href="ttic:href" role="menuitem"><span class="inline-flex items-center justify-center"><slot name="leading"></slot>&nbsp;ttic:title&nbsp;<slot name="trailing"></slot></span></a>
    </span>
  </li>
</template>

<template id="ttic-left-menu">
  <aside id="sidebar"
    class="fixed inset-0 z-20 flex-none hidden h-full w-72 lg:static lg:h-auto lg:overflow-y-visible lg:pt-0 lg:w-48 lg:block"
    aria-labelledby="sidebar-label">
    <h4 id="sidebar-label" class="sr-only"><slot name="label">Slot: label</slot></h4>
    <div id="navWrapper"
      class="overflow-y-auto z-20 h-full bg-white scrolling-touch max-w-2xs lg:h-[calc(100vh-3rem)] lg:block lg:sticky top:24 lg:top-28 dark:bg-gray-900 lg:mr-0">
      <nav id="nav"
        class="pt-16 px-1 pl-3 lg:pl-0 lg:pt-2 font-normal text-base lg:text-sm pb-10 lg:pb-20 sticky?lg:h-(screen-18)"
        aria-label="Docs navigation">
        <ul class="mb-0 list-unstyled">
          <slot name="menu-group">
            <ttic-side-menu-group></ttic-side-menu-group>
          </slot>
        </ul>
      </nav>
    </div>
  </aside>
</template>

<template id="ttic-side-menu-group">
  <li class="mt-8">
    <h5 class="mb-2 text-sm font-semibold tracking-wide text-gray-900 uppercase lg:text-xs dark:text-white">
      <slot name="title">Slot: title</slot></h5>
    <ul class="py-1 list-unstyled fw-normal small">
      <slot name="menu-item">Slot: menu-item</slot>
    </ul>
  </li>
</template>

<template id="ttic-side-menu-item">
  <li>
    <a href="ttic:href" data-sidebar-item="ttic:sidebar-item" role="menuitem"
      class="py-2 transition-colors duration-200 relative flex items-center flex-wrap font-medium hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white ">
      <slot name="title">Slot: title</a>
    </a>
  </li>
</template>

<template id="ttic-home-item">
  <li>
    <span class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">
      <a href="ttic:href" role="menuitem">ttic:title</a>
    </span>
  </li>
</template>


<template id="ttic-body">
  <div class="px-2 sm:px-6 max-w-screen-xl flex flex-wrap items-center justify-between mx-auto">
    <slot name="body">
      <p>Slot: body</p>
      <ttic-hero-with-image></ttic-hero-with-image>
      <ttic-blockquote></ttic-blockquote>
      <ttic-grid-2-col></ttic-grid-2-col>
      <ttic-anchor-header></ttic-anchor-header>
      <ttic-blurb></ttic-blurb>
      <ttic-content-section></ttic-content-section>
      <ttic-code></ttic-code>
    </slot>
  </div>
</template>

<template id="ttic-blockquote">
  <blockquote class="text-xl italic font-semibold text-gray-900 dark:text-gray-200">
    <svg class="w-8 h-8 text-gray-400 dark:text-gray-600 mb-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
        <path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
    </svg>
    <slot><span>Unnamed slot</span></slot>
  </blockquote>
</template>

<template id="ttic-hero-with-image">
  <section class="bg-white dark:bg-gray-900">
    <div class="grid max-w-screen-xl py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-7">
        <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white"><slot name="title">Slot: title</slot></h1>
        <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"><slot name="body">Slot: body</slot></p>
        <slot name="primary-action">
          <ttic-primary-button></ttic-primary-button>
        </slot>
        <slot name="secondary-action">
          <ttic-secondary-button></ttic-secondary-button>
        </slot>
      </div>
      <div class="hidden pl-5 lg:mt-0 lg:col-span-5 lg:flex">
        <slot name="image"><img src="https://agical.se/img/pod_default_04.jpg"/></slot>
      </div>                
    </div>
  </section>
</template>

<template id="ttic-primary-button">
  <a href="ttic:href" onclick="ttic:onclick" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
    <slot name="title">Slot: title</slot>
    <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
  </a>
</template>

<template id="ttic-secondary-button">
  <a href="ttic:href" onclick="ttic:onclick" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
    <slot name="title">Slot: title</slot>
  </a> 
</template>

<template id="ttic-grid-2-col">
  <div class="mt-10 mb-10 lg:grid lg:grid-cols-2 lg:gap-8 w-full">
    <slot name="grid-item">
      <ttic-blurb></ttic-blurb>
      <ttic-blurb></ttic-blurb>
      <ttic-blurb></ttic-blurb>
      <ttic-blurb></ttic-blurb>
    </slot>    
  </div>
</template>

<template id="ttic-blurb">
  <a href="ttic:href" class="block p-6 mb-6 w-full bg-gray-200 border border-gray-400 rounded-lg shadow-md dark:bg-gray-800 dark:hover:bg-gray-700 hover:bg-gray-100 dark:border-gray-400 lg:mb-0">
    <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><slot name="title">Slot: title</slot></h3>
    <p class="font-normal text-gray-700 dark:text-gray-400"><slot name="content">Slot: content</slot></p>
  </a>  
</template>


<template id="ttic-anchor-header">
  <section class="bg-white dark:bg-gray-900">
    <a name="ttic:anchor"></a>
    <div class="py-2 px-2 mx-auto max-w-screen-xl lg:py-2 lg:px-2">
      <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
        <h2 class="mb-4 mt-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white"><slot name="title">Slot: title</slot></h2>
      </div>
    </div>
  </section>
</template>

<template id="ttic-content-section">
  <section class="bg-white dark:bg-gray-900">
    <a name="ttic:anchor"></a>
    <div class="py-8 mx-auto max-w-screen-xl lg:py-16">
      <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
          <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white"><slot name="title">Slot: title</slot></h2>
          <div class="mb-4 font-light"><slot name="abstract">Slot: abstract</slot></div>
          <div class="mb-4 font-medium"><slot name="content">Slot: content</slot></div>
          <slot name="trailing"><ttic-link></ttic-link></slot>
      </div>
    </div>
  </section>
</template>

<template id="ttic-link">
  <a href="ttic:href" class="inline-flex items-center font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700">
    <slot>Unnamed slot. ...with a link text, requires flowbite-icons.html to be included</slot>&nbsp;<ttic-solid-arrow-right></ttic-solid-arrow-right>
  </a>
</template>

<template id="ttic-code">
  <div class="grid w-full">
    <h6 class="mt-8 text-xl tracking-tight font-bold text-gray-900 dark:text-white"><slot name="title">Slot: title</slot></h6>
    <p class="mb-4 font-medium text-gray dark:text-gray"><slot name="description">Slot: description</slot></p>
    <pre style="border: 0.05em solid #777777;"><code class="language-ttic:language line-numbers">
      <slot name="code">
        Place code in the slot named "code", e.g:
        10 PRINT "TEMPLISTIC IS THE BEST!!!"
        20 GOTO 10
      </slot></code></pre> 
  </div>
</template>

<template id="ttic-footer">
  <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"><slot name="copyright">Slot: copyright &em; © 2023 <a href="#" class="hover:underline">Your company</a>. All Rights Reserved.</slot>
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <slot name="link">
        <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Slot: link</a>
        </li>
      </slot>
    </ul>
    </div>
  </footer>
</template>

<template id="ttic-footer-link">
  <li>
    <a href="ttic:href" class="mr-4 hover:underline md:mr-6"><slot name="title">Slot: title</slot></a>
  </li>
</template>
