<template id="my-paragraph">
  <style>
    p {
      color: red;
      background-color: #666;
      padding: 1rem;
    }
  </style>
  <p><slot name="my-text">My default text</slot></p>
</template>

<template id="shadow-tag" shadow="open">
  <style>
    p {
      color: yellow;
      background-color: #333;
      padding: 1rem;
    }
  </style>
  <p class="text-7xl"><slot name="shadow-slot">My shadow root</slot></p>
</template>
